# IDE and Editor files
/.idea
.vscode/*
!.vscode/extensions.json
!.vscode/launch.json
!.vscode/settings.json

# Python
__pycache__/
*.py[cod]
*.so

# Node
node_modules/
.npm
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build outputs
/dist
/build
*.spec
node_modules
dist-electron
dist
